
<table class="">
    <tr>
        <td class="a">
            <h3>Market House</h3>
        </td>
    </tr>
    <tr>
        <td class="c">
            <p> Add the products to be sold</p>
            <form [formGroup]="pForm" (ngSubmit)="addProducts()">
                <input type="text" class="products" name="product"><br><br>
                <input type="text" class="quantity" placeholder="Kg or Gram" name="quantity"><br><br>
                <input type="submit" value="submit" [disabled]="pForm.valid"><br><br>
            </form>
        </td>
    </tr>
</table>
